
<div class="row  text-center">
	<div class="col-xs-12">
		<button (click)="pick()" class="btn btn-primary">Pick</button>
		<button (click)="resetConfirm.open()" class="btn btn-danger">Reset</button>
		<div>
			<h2 *ngIf="!currentFact && (dataService.data.facts.length > 0)">
				Pick a fact
			</h2>
			<h2 *ngIf="dataService.data.facts.length < 1">
				No more facts to pick.
			</h2>
			<div *ngIf="currentFact">
				<h2>
					{{currentFact.column}} 
				</h2>
				<h1>
					{{currentFact.factors[0]}} x
					{{currentFact.factors[1]}} 
				</h1>
			</div>
		</div>
	</div>
</div>

<br>

<div class="flex-grid text-center pickedFacts">
	<div class="col">
		<div>B</div>
		<mb-fact *ngFor="let fact of dataService.data.pickedFacts" [fact]="fact" column="B"></mb-fact>
	</div>
	<div class="col">
		<div>I</div>
		<mb-fact *ngFor="let fact of dataService.data.pickedFacts" [fact]="fact" column="I"></mb-fact>
	</div>
	<div class="col">
		<div>N</div>
		<mb-fact *ngFor="let fact of dataService.data.pickedFacts" [fact]="fact" column="N"></mb-fact>
	</div>
	<div class="col">
		<div>G</div>
		<mb-fact *ngFor="let fact of dataService.data.pickedFacts" [fact]="fact" column="G"></mb-fact>
	</div>
	<div class="col">
		<div>O</div>
		<mb-fact *ngFor="let fact of dataService.data.pickedFacts" [fact]="fact" column="O"></mb-fact>
	</div>
</div>


<!-- 
<pre>
	{{dataService.data.pickedFacts.length}}
	{{dataService.data.pickedFacts | json}}
</pre>

<pre>
	{{dataService.data.facts.length}}
	{{dataService.data.facts | json}}
</pre> -->



<modal  #resetConfirm
		title="Warning!"
		cancelButtonLabel="Cancel"
		[hideCloseButton]="false"
		[closeOnEscape]="true"
		[closeOnOutsideClick]="true">

	<modal-header>
	</modal-header>

	<modal-content>
		Are you sure you want to reset the game? You will lose history of all the picked numbers.
	</modal-content>

	<modal-footer>
		<button class="btn btn-danger" (click)="reset(); resetConfirm.close();">Reset</button>
	</modal-footer>

</modal>