div	{
	/*border: 1px solid red;*/
}

.flex-grid {
	display: flex;
 	margin-left: auto;
 	margin-right: auto;
}
.col {
	flex: 1;
}

.col > div:first-child {
	border-bottom: 2px solid #FAFAFA; 
}

.pickedFacts {
	font-size: 20px;
}